@model hypster.ViewModels.getAccountInfo_PublicViewModel
@{
    ViewBag.Title = "Hypster - free music online - player for tumblr";
    ViewBag.Desc = "";
}




<script type="text/javascript">
    $(document).ready(function () {
        RenderAccountPublic();
    });
    $(window).resize(function () {
        RenderAccountPublic();
    });
</script>





<script type="text/javascript">

    function HideAllSections() {
        $("#PublicPSection_1").css("display", "none");
        $("#PublicPSection_2").css("display", "none");
        $("#PublicPSection_3").css("display", "none");


        $("#PublicPSectionMenu1").css("background-color", "#292929");
        $("#PublicPSectionMenu2").css("background-color", "#292929");
        $("#PublicPSectionMenu3").css("background-color", "#292929");
    }

    function ShowSection(id) {
        HideAllSections();
        $("#PublicPSection_" + id).css("display", "block");
        $("#PublicPSectionMenu" + id).css("background-color", "#181818");
    }

</script>








<div class="boxContRight boxContRightTop">
    <div id="listenSlide0" class="slideRight" style=" min-height:130px;">
            


            <div id="PublicPSectionMenu1" onclick="ShowSection('1');">
                
                <div class="PublicPMenuInner">  
                    <img alt="" src="/imgs/account/create_player_icon_sm.png" /><br />
                    Info
                </div>
            
            </div>

            <div id="PublicPSectionMenu2" onclick="ShowSection('2');">
            
                <div class="PublicPMenuInner">
                    <img alt="" src="/imgs/account/create_playlist_icon_sm.png" /><br />
                    Music
                </div>

            </div>

            <div id="PublicPSectionMenu3" onclick="ShowSection('3');">
                
                <div class="PublicPMenuInner">
                    <img alt="" src="/imgs/account/create_station_icon_sm.png" /><br />
                    Friends
                </div>
            
            </div>


     </div>
</div>











    
<!-- **************SECTION_1*************************** -->
<div id="PublicPSection_1">


        <div class="boxContLeft">
            <div id="PersonalInfo_Slide" class="slideLeft">
        
        
           
            
                    <div class="PerInfHeader">
                        Personal Info
                    </div>
        
                    <div style=" float:right; width:1024px; margin:15px 0 0 20px; ">
            
                        <div class="NameTxtCont">
                            <div class="lbl1">Name:</div>
                            <div class="txt1">@Model.curr_user.name</div>
                        </div>

                        <div class="UsNameTxtCont">
                            <div class="lbl1">Username:</div>
                            <div class="txt1">@Model.curr_user.username</div>
                        </div>

                    </div>
        

                    <div style=" float:right; width:1024px; margin:25px 0 0 20px; ">
            
                        <div class="MemberTxtCont">
                            <div class="lbl1">Member Since:</div>
                            <div class="txt1">@Model.curr_user.regdate.ToShortDateString()</div>
                        </div>

                    </div>




                    <div style=" float:right; width:1024px; margin:25px 0 0 20px; ">
            
                        <div class="CityTxtCont">
                            <div class="lbl1">City:</div>
                            <div class="txt1">@Model.curr_user.city</div>
                        </div>

                        <div class="CountryTxtCont">
                            <div class="lbl1">Country:</div>
                            <div class="txt1">@Model.curr_user.country</div>
                        </div>

                        <div class="ZipTxtCont">
                            <div class="lbl1">Zip:</div>
                            <div class="txt1">@Model.curr_user.zipcode</div>
                        </div>

                    </div>



                    <div style=" float:right; width:1024px; margin:25px 0 20px 20px; ">
            

                        <div class="BirthDateHeader">
                            <div>Birth Date:</div>
                        </div>


                        <div class="DOBmHeader">
                            <div>@if (Model.curr_user.birth != null) { @Model.curr_user.birth.Value.Month; }</div>
                        </div>

                        <div class="DOBdHeader">
                            <div>@if (Model.curr_user.birth != null) { @Model.curr_user.birth.Value.Day; }</div>
                        </div>

                        <div class="DOByHeader">
                            <div>@if (Model.curr_user.birth != null) { @Model.curr_user.birth.Value.Year; }</div>
                        </div>

                    </div>
            

            </div>
        </div>






        <div class="boxContRight">
            <div id="MyPhotos_Slide" class="slideRight">
        


            
                    <div style=" float:left; width:1040px;">
                            
                            <div class="photoHeader">
                                Photos
                            </div>


                            <div style=" float:left; width:100%; margin:5px 0 0 0px;">
                                @{ int icount = 0; }
                                @foreach (hypster_tv_DAL.Photo item in Model.userPhotos_list)
                                {
                                    <div class="photoCont">
                                        
                                        @if (item.id > Model.New_User_ID)
                                        {
                                            <img onclick="ShowImage('@Url.Content("/userpics/" + @Model.curr_user.username + "/" + @item.id + ".jpg")');" src="@Url.Content("/userpics/" + @Model.curr_user.username + "/" + @item.id + "_s.jpg")" alt="" onerror="this.src='/imgs/user_img_nf.png';" />
                                        }
                                        else
                                        {
                                            <img onclick="ShowImage('@Url.Content("/userpics/" + @item.id + ".jpg")');" src="@Url.Content("/userpics/" + @item.id + "_s.jpg")" alt="" onerror="this.src='/imgs/user_img_nf.png';" />
                                        }
                                        
                                    </div>
                        
                                
                                        if (icount > 12)
                                        {
                                            break;
                                        }
                                        icount = icount + 1;
                                }
                            </div>

                    </div>
            


            </div>
        </div>


</div>
<!-- **************SECTION_1*************************** -->















<!-- **************SECTION_2*************************** -->
<div id="PublicPSection_2" style=" display:none;">

        

        <div class="boxContLeft">
            <div id="MyFavoriteGenres_Slide" class="slideLeft">
        
            

                        <div style=" float:right; width:1024px; margin:0 0 20px 20px; text-align:left; ">
                            
                            <div class="FavoriteGenresHeader">
                                Favorite Genres
                            </div>


                            <div class="FavoriteGenresCont">
                                    @for (int i = 0; i < Model.musicGenres_list.Count; i++)
                                    {
                                        if (@Model.musicGenres_list[i].selected == true)
                                        {
                                            <div class="FavoriteGenresItm">
                                                <input type="checkbox" disabled="disabled" name="musicGenres_list" value="" checked="checked" style=" margin-left:-23px;" /> @Model.musicGenres_list[i].GenreName
                                            </div>
                                        }
                                        else
                                        { 
                                            <div class="FavoriteGenresItmN">
                                                @Model.musicGenres_list[i].GenreName
                                            </div>
                                        }
                                    }
                            </div>
                        </div>



            </div>
        </div>






        <div class="boxContRight">
            <div id="MyPlaylists_Slide" class="slideRight">
        

                    <div style=" float:left; width:1024px;">

                        <div class="playlistsHeader">
                            Playlists
                        </div>
                

                        <div style=" float:left; width:700px;">
                            @{ int counter_userPlaylists_list = 0; }
                            @foreach (var item in @Model.userPlaylists_list)
                            {
                                if (counter_userPlaylists_list > 6)
                                {
                                    break;
                                }
                                else
                                {
                                    counter_userPlaylists_list++;
                                }
                                <div class="playlistItm">
                                    <div class="ItmTitle" onclick="OpenPlayer('media_type=playlist&playlist_id=@(item.id)&us_id=@(item.userid)');">
                                        @item.name
                                    </div>
                                    <div class="ItmPlay" onclick="OpenPlayer('media_type=playlist&playlist_id=@(item.id)&us_id=@(item.userid)');">
                                        <img alt="" src="/imgs/play_icon_lte.png" />
                                    </div>
                                </div>
                            }
                        </div>

                
                    </div>


            </div>
        </div>






        <div class="boxContLeft">
            <div id="Songs_Slide" class="slideLeft">
            

                     <div style=" float:right; width:1024px; margin:0 0 20px 20px; text-align:left; ">
                    
                            <div class="songsHeader">
                                Songs
                            </div>


                            
                                @{ int back_id = 1;}
                                @foreach (var item in @Model.songs_list)
                                {
                                    <div class="songItm">
                                        
                                        <div @if (back_id > 0)
                                             { <text>class="songItmTitle"</text> }
                                             else
                                             { <text>class="songItmTitleB"</text> } >
                                            <div class="style_1122">@item.Title</div>
                                        </div>
                                    
                                        <div @if (back_id > 0)
                                             { <text>class="songItmPlay"</text> }
                                             else
                                             { <text>class="songItmPlayB"</text> } onclick="OpenPlayer('song_guid=@item.YoutubeId&song_title=@HttpUtility.UrlEncode(item.Title)');">
                                            <img class="style_1133" alt="" src="/imgs/play_icon_lte.png" />
                                        </div>

                                    </div>        
                                             back_id = back_id * -1;
                                }
                            

                    </div>
        

            </div>
        </div>







        <div class="boxContRight">
            <div id="MyStations_Slide" class="slideRight">
        

                   <div style=" float:left; width:1024px;">

                        <div class="StationsHeader">
                            Stations
                        </div>
                

                        <div style=" float:left; width:600px;">
                            @foreach (var item in @Model.radioStation_list)
                            {
                                <div class="RadioStItm">
                            
                                        <div class="RadioItmTitle" onclick="OpenPlayer('media_type=Radio&Genre=@item.RadioStationQuery.Replace(" ", "+")')">
                                            @item.RadioStationName
                                        </div>

                                        <div class="RadioItmPlay" onclick="OpenPlayer('media_type=Radio&Genre=@item.RadioStationQuery.Replace(" ", "+")')">
                                            <img alt="" src="/imgs/play_icon_lte.png" />
                                        </div>

                                </div>
                            }
                        </div>
                
                    </div> 


            </div>
        </div>


</div>
<!-- **************SECTION_2*************************** -->
















<!-- **************SECTION_3************************** -->
<div id="PublicPSection_3" style=" display:none;">


            <div class="boxContLeft">
                <div id="Followed_Slide" class="slideLeft">
        
                


                            <div style=" float:right; width:1040px; margin-bottom:20px;">
    

                                <div class="MembersIFollowHeader">
                                    Members I Follow (@Model.NumberOfMembersIFollow)
                                </div>

                                @{ int counter_MembersIFollow_list = 0; }
                                @foreach (var item in Model.MembersIFollow_list)
                                {
                                    if (counter_MembersIFollow_list > 150)
                                    {
                                        break;
                                    }
                                    else
                                    {
                                        counter_MembersIFollow_list++;
                                    }

                                    if (item != null)
                                    {
                                    <div class="MIF_Itm">
                                        <a href="/profile/@item.username">
                
                                            <img class="MIF_img" alt="" src="@Url.Content("/userpics/" + item.username + "/" + item.profile_pic_id + "_s.jpg")" onerror="this.src='/imgs/user_img_nf.png';" />
                                            <div class="MIF_title">
                                                <text>&nbsp;</text>@item.username
                                            </div>

                                        </a>
                                    </div>
                                    }

                                }
                            </div>

            
                </div>
            </div>




            <div class="boxContRight">
                <div id="Following_Slide" class="slideRight">
    
        

                            <div style=" float:left; width:1040px; margin-bottom:20px;">

                                <div class="MyFollowersHeader">
                                    My Followers (@Model.NumberOfMyFollowers)
                                </div>



                                @{ int counter_MyFollowers_list = 0; }
                                @foreach (var item in Model.MyFollowers_list)
                                {
                                    if (counter_MyFollowers_list > 150)
                                    {
                                        break;
                                    }
                                    else
                                    {
                                        counter_MyFollowers_list++;
                                    }


                                    if (item != null)
                                    {
                                    <div class="MF_Itm">
                                        <a href="/profile/@item.username">
                    
                                            <img class="MF_img" alt="" src="@Url.Content("/userpics/" + item.username + "/" + item.profile_pic_id + "_s.jpg")" onerror="this.src='/imgs/user_img_nf.png';" />
                                            <div class="MF_title">
                                                <text>&nbsp;</text>@item.username
                                            </div>

                                        </a>
                                    </div> 
                                    }

                                }
                            </div>


                </div>
            </div>

</div>
<!-- **************SECTION_3*************************** -->






<div class="boxContLeft">
    <div id="FollowUser_Slide" class="slideLeft">

            
            <div style=" float:right; width:1024px;">
               @using (Html.BeginForm("FollowFriend", "account"))
               { 
                    <input type="hidden" id="user_to_follow_id" name="user_to_follow_id" value="@Model.curr_user.id" />
                    <input type="submit" value="Follow" style=" float:right; width:280px; height:48px; line-height:48px; background-color:#ffa910; border-radius:3px; color:#000000; font-family:Hypster-Segoe; font-weight:lighter; font-size:30px; text-align:center; cursor:pointer; " />
               }
            </div>


    </div>
</div>



















