@model hypster.ViewModels.createPlaylist_ViewModel
@{
    ViewBag.Title = "Create Free Playlist | Hypster - free music online - player for tumblr";
    ViewBag.Desc = "Create free playlists, and listen commercial free music.";
}



<script type="text/javascript">
    active_menu = ".mCreate";
    $(".mCreate").css("background-color", "#191919");

    $(document).ready(function () {
        RenderCreatePlaylist();
    });
    $(window).resize(function () {
        RenderCreatePlaylist();
    });
</script>





<script type="text/javascript">
    window.onscroll = function (e) {
        var vertical_position = 0;
        if (pageYOffset)//usual
            vertical_position = pageYOffset;
        else if (document.documentElement.clientHeight)//ie
            vertical_position = document.documentElement.scrollTop;
        else if (document.body)//ie quirks
            vertical_position = document.body.scrollTop;

        if (vertical_position > 330) {
            if( ((vertical_position - 330) + $(".PlaylistsInnrCont").height() ) < $(".SongsInnrCont").height() )
                $(".PlaylistsInnrCont").css("top", (vertical_position - 330) + "px");
        }
        else {
            $(".PlaylistsInnrCont").css("top", 0 + "px");
        }
    }
</script>





<div class="boxContRight boxContRightTop">
    <div id="listenSlide1" class="slideRight" style=" min-height:600px; ">




            <div id="CreatePlaylistSection1" onclick="window.location='/create/player';">
                <img alt="" src="/imgs/create/create_player_icon_sm.png" /><br />
                Create Player
            </div>


            <div id="CreatePlaylistSection2" onclick="window.location='/create/playlist';">
                <img alt="" src="/imgs/create/create_playlist_icon_sm.png" /><br />
                Create Playlist
            </div>


            <div id="CreatePlaylistSection3" onclick="window.location='/create/station';">
                <img alt="" src="/imgs/create/create_station_icon_sm.png" /><br />
                Create Station
            </div>






            <div id="CreateContHolder" style=" float:left; width:100%; background-color:#1d1d1c; margin-top:-1px; ">
                <!-- *************************************CONTENT************************************* -->
                <div class="CreatePlaylistCont">
                    


                        <div class="MainHeadCont">
                        
                            <div class="MainHeadPlaylist" >
                                <img src="/imgs/add_icon.png" title="Add New Playlist" onclick="$('#AddNewPlaylist_Container').css('display','block'); $('#AddNewPlstItm1').css('display','none');" />
                                <span>Playlists</span>
                            </div>


                            <div class="MainHeadSongs" title="Play Playlist: @ViewBag.ActivePlaylistName" onclick="OpenPlayer('media_type=playlist&playlist_id=@ViewBag.ActivePlaylistID&us_id=@Model.curr_user.id');">
                                <img alt="" src="/imgs/play_icon.png" />
                                <div>@ViewBag.ActivePlaylistName</div>
                            </div>
                        
                        </div>





                        <div id="PlaylistsInnrCont1" class="PlaylistsInnrCont" style=" position:relative; top:0px; margin-bottom:15px;">

                            @foreach (var item in Model.userPlaylists_list)
                            {


                                if (item.id == ViewBag.ActivePlaylistID)
                                {
                                    <div class="PlstItm_Act">
                                
                                            <div class="PlstItm_ActTitle" id="textName_cont_@item.id" onclick="window.location='/create/playlist?playlist_id=@item.id';" style=" float:left; width:330px; height:27px; overflow:hidden; ">
                                                @item.name
                                            </div>
                                    
                                            <div id="editName_cont_@item.id" style=" display:none; width:334px; float:left; ">
                                                @using (Html.BeginForm("AccountPlaylists_EditPlaylist", "account", FormMethod.Post))
                                                {
                                                    <input class="PlstItm_PlName" name="PlaylistName" id="PlaylistName" type="text" value="@item.name" />
                                                    <input class="PlstItm_PlSave" type="submit" value="Save" />
                                                    <input class="PlstItm_PlSave" type="button" value="Cancel" onclick="$('#textName_cont_@item.id').css('display','block'); $('#editName_cont_@item.id').css('display','none');" />
                                                    <input name="PlaylistID" id="PlaylistID" type="hidden" value="@item.id" />
                                                }
                                            </div>
                                

                                            <div class="PlstItm_Edt" title="Edit Playlist" onclick="$('#textName_cont_@item.id').css('display','none'); $('#editName_cont_@item.id').css('display','block');">
                                            </div>
                                            <div class="PlstItm_Del" title="Delete Playlist" onclick="if(confirm('Are you sure you want to delete?') == true){ window.location='/create/playlist?ACT=delete_playlist&playlist_id=@item.id';}">
                                            </div>

                                    </div>
                                }
                                else
                                {
                                    <div class="PlstItm">

                                            <div id="textName_cont_@item.id" onclick="window.location='/create/playlist?playlist_id=@item.id';" style=" float:left; width:330px; height:27px; overflow:hidden; padding-left:4px; ">
                                                @item.name
                                            </div>
                                        

                                            <div id="editName_cont_@item.id" style=" display:none; width:334px; float:left; ">
                                                @using (Html.BeginForm("AccountPlaylists_EditPlaylist", "account", FormMethod.Post))
                                                {
                                                    <input class="PlstItm_PlName" name="PlaylistName" id="PlaylistName" type="text" value="@item.name" />
                                                    <input class="PlstItm_PlSave" type="submit" value="Save"/>
                                                    <input class="PlstItm_PlSave" type="button" value="Cancel" onclick="$('#textName_cont_@item.id').css('display','block'); $('#editName_cont_@item.id').css('display','none');" />
                                                    <input name="PlaylistID" id="PlaylistID" type="hidden" value="@item.id" />
                                                }
                                            </div>
                                

                                            <input name="Act_PlaylistID" id="Act_PlaylistID" type="hidden" value="@item.id" />
                                            <!--input class="PlstItm_MkActive" type="submit" value="Make Active" /-->
                                        

                                            <div class="PlstItm_Edt" title="Edit Playlist" onclick="$('#textName_cont_@item.id').css('display','none'); $('#editName_cont_@item.id').css('display','block');">
                                            </div>
                                            <div class="PlstItm_Del" title="Delete Playlist" onclick="if(confirm('Are you sure you want to delete?') == true){ window.location='/create/playlist?ACT=delete_playlist&playlist_id=@item.id';}">
                                            </div>

                                    </div>
                                }





                            }


                            <div id="AddNewPlstItm1" class="AddNewPlstItm" onclick="$('#AddNewPlaylist_Container').css('display','block'); $('#AddNewPlstItm1').css('display','none');">
                                + Add new playlist
                            </div>

                            @using (Html.BeginForm("AccountPlaylist_AddNewPlaylist", "account"))
                            {
                                <div id="AddNewPlaylist_Container">
                                    <input id="AddPlaylist_Name" name="AddPlaylist_Name" type="text" maxlength="60" />
                                    <input id="AddPlaylist_Save" type="submit" value="Add new playlist" />
                                    <input id="AddPlaylist_Cancel" type="button" value="Cancel" onclick="$('#AddNewPlaylist_Container').css('display','none'); $('#AddNewPlstItm1').css('display','block');" />
                                </div>
                            }

                        </div>







                        <div class="SongsInnrCont">
                        

                                <div id="sortablePlaylist">
                                @foreach (var item in Model.userActivePlaylist_Songs_list)
                                {
                                    <div class="srt_itm" id="song_@item.playlist_track_id" onmouseover="this.style.backgroundColor='#292929';" onmouseout="this.style.backgroundColor='#232323';">
                    
                                        <img class="SongImg" alt="" src="http://i.ytimg.com/vi/@item.YoutubeId/0.jpg" />
                    
                                        <div class="SongTitle" onmouseup="isMOUSE_UP_ON = true;" onmousedown="mouse_down($('#song_@item.playlist_track_id'));" onmouseout="mouse_up($('#song_@item.playlist_track_id'), '@item.playlist_track_id' );" >
                                            @item.Title
                                        </div>

                                    
                                        <div class="SongItm_Edt" title="Play Song" onclick="OpenPlayer('song_guid=@item.YoutubeId&song_title=@HttpUtility.UrlEncode(item.Title)');">
                                        </div>
                                        
                                        <div class="SongItm_Del" title="Delete Song" onclick="if(confirm('Are you sure you want to delete?') == true){ window.location='/create/playlist?ACT=delete_song&song_id=@item.playlist_track_id&playlist_id=@ViewBag.ActivePlaylistID';}">
                                        </div>
                                        
                                    </div>
                                }
                                </div>

                                @if (Model.userActivePlaylist_Songs_list.Count == 0)
                                {
                                    <div class="EmptyPlCont">
                                        <div>Playlist is empty</div>
                                    </div>
                                }
                                <div id="AddNewSong_Container" onclick="window.location='/listen';">
                                    <text>&nbsp;+ Add New Song</text>
                                </div>

    
                        </div>








                        <style>    
                            #sortablePlaylist { list-style-type:none; margin: 0; padding: 0; float:left; width:100%; }    
                            #sortablePlaylist .srt_itm { float:left; float:left; width:585px; height:57px; border-bottom:1px solid #232323; background-color:#232323; cursor:pointer; overflow:hidden; margin-top:4px; }
                        </style>

                        <script type="text/javascript">
                            $(function () {
                                $("#sortablePlaylist").sortable();
                                $("#sortablePlaylist").disableSelection();
                            });
                            
                            

                            var isMOUSE_UP_ON = false;
                            var old_order = 0;

                            function mouse_down(obj, link_id) {
                                var index = $("#sortablePlaylist .srt_itm").index(obj);
                                old_order = index;
                            }

                            function mouse_up(obj, song_id) {
                            
                            
                                if (isMOUSE_UP_ON == true) {

                                    var new_order = $("#sortablePlaylist .srt_itm").index(obj);
                                    var set_order = (new_order - old_order);


                                    var randomnumber=Math.floor(Math.random()*1100000);
                                    $.ajax({
                                        type: "POST",
                                        url: "/playlist/applyOrder?SONG_ID=" + song_id + "&SONG_ORDER=" + set_order + "&ACTIVE_PL=" + @ViewBag.ActivePlaylistID + "&Rnum=" + randomnumber,
                                        async: true,
                                        success: function (data) {
                                            //alert(data);
                                        }
                                    });


                                    isMOUSE_UP_ON = false;
                                    old_order = 0;
                                }
                            }
                        </script>


                </div>
                <!-- *************************************CONTENT************************************* -->
            </div>



    </div>
</div>










<div class="boxContLeft">
    <div id="listenSlide2" class="slideLeft" style=" min-height:460px;">
            
            @Html.Action("PopularPlaylists", "popular")

    </div>
</div>